body {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
} 

.content {
	font-family: 'Segoe UI';
	width: 100%;
	height: calc(100% - 0px);
	border-spacing: 0;
	overflow-y: auto;
}

.contentHeader {
	width: 800px;
	height: 60px;
	background-color: #0064c8;
}

.contentMenu {
	height: 95%;
	background-color: #0064c8;
	width: 76px;
	vertical-align: top;
}

.contentMain {
	height: 500px;
	background-color: white;
	width: 650px;
}

.contentFooter {
	background-color: #0064c8;
	text-align: center;
}

.centerText {
	text-align: Left;
	vertical-align: middle;
	width: 100%;
}

#Logo {
	float: left;
	display: block;
}

	#Logo.At {
		width: 149px;
		height: 149px;
	}

/*Full height without scroll*/
content-scroll-wrap {
	position: relative;
	height: 100%;
}

#content-scroll {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.menu {
	font-family: 'Segoe UI';
	/*text-decoration: none;*/
	/*color: white;*/
	/*text-align: center;*/
	/*width:100%;*/
	border: 1px;
}

.menuButton {
	display: block;
	width: 100%;
	/*width: 205px;*/
	border-bottom: 1pt solid black;
	text-align: center;
	vertical-align: middle;
}

/*Link buttons*/
menuLink:link, menuLink:visited {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

menuLink:hover, menuLink:active {
	background-color: red;
}



table.coolTable td {
	background-color: purple;
	color: green;
}

	table.coolTable td:hover {
		background-color: green;
		color: green;
	}

td a {
	display: block;
	width: 100%;
}