body {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	color: white;
	font-size: 60px;
}

.content {
	font-family: 'Segoe UI';
	width: 100%;
	height: calc(100% - 0px);
	border-spacing: 0;
	overflow-y: auto;
}

.contentHeader {
	width: 800px;
	height: 60px;
	background-color: #0064c8;
}
.title {
	
	font-family: 'Segoe UI';
}

.contentMenu {
	height: 95%;
	background-color: #0064c8;
	width: 50px;
	vertical-align: top;
}

.contentMain {
	height: 500px;
	background-color: white;
	width: 650px;
}

.contentFooter {
	background-color: #0064c8;
	text-align: right;
	padding-right: 25px;
}

.centerText {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	
}

#Logo {
	float: left;
	display: block;
}

#Logo.At {
	width: 149px;
	height: 149px;
}

/*Full height without scroll*/
content-scroll-wrap {
	position: relative;
	height: 100%;
}

#content-scroll {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}


.menu {
	height: 95%;
	background-color: #0064c8;
	width: 5%;
	vertical-align: top;
}

.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #0064c8;
	font-size: 18px;
}

.sidebar li a {
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	text-align:center;
}

/* Change the link color on hover */
.sidebar li a:hover {
	background-color: #0071c8;
	color: white;
}